*{
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.converter{
    height: 100vh;
    background-color: #141414;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #4e4e4e;
    width: 75%;
    height: 75%;
    border-radius: 20px;
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputs{
    width: 50%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
}

label{
    font-weight: bold;
    font-size: 1.5rem;
}

input, select{
    width: 50%;
    margin-bottom: 1rem;
}

button{
    color: #fff;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    border: none;
    background-color: #6A0DAD;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
}

button:hover{
    background-color: #721daf;
    transition: 0.5s;
}

.view{
    width: 50%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
